<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="shortcut icon" href="{{ ""/assets/images/fav/favicon.ico" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/fav/apple-touch-icon.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="32x32" href="{{ "/assets/images/fav/favicon-32x32.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="16x16" href="{{ "/assets/images/fav/favicon-16x16.png" | relative_url }}">

<!-- end custom head snippets -->
