<!-- start custom head snippets -->

<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/fav/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/images/fav/android-chrome-512x512.png">
<link rel="apple-touch-icon type" type="image/png" sizes="512x512" href="/assets/images/fav/apple-touch-icon.png">

<!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/fav/apple-touch-icon.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="32x32" href="{{ "/assets/images/fav/favicon-32x32.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="16x16" href="{{ "/assets/images/fav/favicon-16x16.png" | relative_url }}"> -->

<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/fav/favicon-32x32.png">
<link rel="shortcut icon" href="/assets/images/fav/favicon.ico">
<link rel="manifest" href="/assets/images/fav/site.webmanifest">

<!-- new files generated https://favicon.io/favicon-converter/ -->
