---
layout: collection
author_profile: false
search : false
authors:
 - Alejandro Sanchez Giraldo
 - Millan Kaul
 - Paul Maxwell-Walters
 - Karthik Hariharan
 - 
---

    

    {% assign authorCount = page.authors | size %}
    {% if authorCount == 0 %}
       -00- {{ page.display_name}}
    {% elsif authorCount == 1 %}
        -0- {{ page.name }}         
    {% else %}
        {% for author in page.authors %}
            {% if forloop.first %}
                -1-avatar- {{author.avatar}} 
            {% elsif forloop.last %}
                -2-name- {{author.name}} 
            {% else %}
               -3-bio- {{author.bio}} --end-
            {% endif %}
        {% endfor %}
    {% endif %}

  ---

