---
layout: collection
author_profile: false
search : false
authors:
 - Alejandro Sanchez Giraldo
 - Millan Kaul
 - GPT
---

    

    {% assign authorCount = page.authors | size %}
    {% if authorCount == 0 %}
       {{ page.author}}
    {% elsif authorCount == 1 %}
        {{ page.authors | first }}         
    {% else %}
        {% for author in page.authors %}
            {% if forloop.first %}
                {{ author }}, first {{ author }},  {{author.name}}, {{author.avatar}}, {{avatar}}
            {% elsif forloop.last %}
                and {{ author }}, game {{ author }},  {{author.name}}, {{author.avatar}}, {{avatar}}
            {% else %}
                , name {{ author }},  {{author.name}}, {{author.avatar}}, {{avatar}}
            {% endif %}
        {% endfor %}
    {% endif %}

  ---
{{content}}
