---
layout: archive
search: false
---

<!-- ToDo QualityWithMillan -->
<!-- <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="qualitywithmillan" data-description="Support me on Buy me a coffee!" data-message="Thank you for your support.#QualityWithMillan" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script> -->

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
